$footerHeight: calc(50px + 30 * ((100vw - 400px) / (1200 - 400)));

.footer {
  background: linear-gradient(to bottom, #bdbcf3, 99%, #9e3af3);
  width: 100%;
  height: 80px;
  border-top: 1px solid #7f7fa4;
  box-shadow: 0 0 5px #9e3af3;
  position: relative;
  bottom: 2px;
  overflow: hidden;

  @media (max-width: 1200px) {
    height: $footerHeight;
  }

  .container {
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
    overflow: hidden;

    @media (max-width: 768px) {
      overflow: visible;
    }
  }

  .footer__body {
    display: flex;

    .footer__school {
      flex: 0 0 30%;

      @media (max-width: 768px) {
        flex: 0 0 20%;
      }

      img {
        margin-top: 20px;
        height: 40px;

        @media (max-width: 1200px) {
          margin-top: calc(12px + 8 * ((100vw - 768px) / (1200 - 768)));
          height: calc($footerHeight - 24px - 16 * ((100vw - 768px) / (1200 - 768)));
        }

        @media (max-width: 768px) {
          margin-top: 12px;
          height: calc($footerHeight - 24px - 8 * ((100vw - 420px) / (768 - 420)));
        }
      }
    }

    .footer__team {
      flex: 0 0 50%;
      display: flex;

      @media (max-width: 768px) {
        flex: 0 0 60%;
      }

      .footer__member {
        margin-left: 10%;
        margin-top: 20px;
        text-align: center;

        @media (max-width: 768px) {
          margin-left: calc(15px + 50 * ((100vw - 420px) / (768 - 420)));
          margin-top: calc(10px + 5 * ((100vw - 420px) / (768 - 420)));
        }

        a {
          width: 50%;
          font-size: 16px;
          line-height: 20px;
          color: #7f7fa4;
          transition: 0.3s 0s;

          @media (max-width: 1200px) {
            font-size: calc(14px + 2 * ((100vw - 768px) / (1200 - 768)));
            line-height: calc(18px + 2 * ((100vw - 768px) / (1200 - 768)));
          }

          @media (max-width: 768px) {
            font-size: calc(10px + 4 * ((100vw - 420px) / (768 - 420)));
            line-height: calc(14px + 4 * ((100vw - 420px) / (768 - 420)));
          }

          &:hover {
            color: #000;
          }
        }
      }
    }

    .footer__year {
      flex: 0 0 20%;
      font-size: 18px;
      text-align: right;
      line-height: $footerHeight;

      @media (max-width: 1200px) {
        font-size: calc(16px + 2 * ((100vw - 768px) / (1200 - 768)));
      }

      @media (max-width: 768px) {
        font-size: calc(14px + 2 * ((100vw - 420px) / (768 - 420)));
      }
    }
  }
}
