<div class="round">
  <app-loading *ngIf="isLoading"></app-loading>
  <app-result-sprint
    [correctWords]="correctWords"
    [wrongWords]="unCorrectWords"
    *ngIf="isFinish"
    (replay)="replay($event)"
  ></app-result-sprint>
  <div class="timer">
    <p class="time">{{timer}}
      <span class="clock"></span>
    </p>
  </div>
  <div class="round-data">
    <p class="score">{{score}}</p>
  </div>
  <div
    class="round-container"
    [class.correct-answer]="isCorrect"
    [class.wrong-answer]="isWrong"
  >
    <div class="media">
      <div class="example" (click)="playExample()">
        <span class="note"></span>
      </div>
      <div class="multiplier">Множитель: &times;{{multiplier}}
        <span class="points">+{{multiplier * 10}}</span>
      </div>
      <div class="listen" (click)="playWord()">
        <span class="played"></span>
      </div>
    </div>
    <ul class="indicate-list">
      <li
        *ngFor="let item of indicators"
        class="indicate-point"
        [class.active]="(item<=correctAnswerCount)?true:false"
      ></li>
    </ul>
    <div class="word">{{word}}</div>
    <div class="transcript">{{transcript}}</div>
    <div class="round-controls">
      <app-button
        text="неверно"
        color="orangered"
        (click)="checkAnswer(false)"
      ></app-button>
      <app-button
        text="верно"
        color="green"
        (click)="checkAnswer(true)"
      ></app-button>
    </div>
    <div class="arrows">
      <div class="arrow-left"></div>
      <div class="arrow-right"></div>
    </div>
  </div>
</div>
