.audiocall-container,
.switch-level-popup {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 50px;
  font-size: 28px;
  color: white;
}

.background {
  position: absolute;
  background-image: url('../../../assets/images/sea.jpg');
  filter: blur(7px);
  width: 100%;
  height: 100vh;
}

.switch-level-popup {
  display: flex
}

.volume-img {
  width: 120px;
  height: 120px;
  background: url('../../../assets/svg/volume.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.volume-img:hover,
.next-or-know:hover,
.fullscreen-button:hover,
.answer:hover,
.outplay-button:hover,
.on-main-button:hover,
.volume-answer:hover,
.circle:hover {
  cursor: pointer;
  opacity: 0.8;
}

.answers-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  justify-content: space-around;
  row-gap: 50px;
}

.next-or-know {
  width: 180px;
  height: 50px;
  border-radius: 25px;
  border: none;
  background-color: purple;
  color: white;
}

.fullscreen-button {
  position: absolute;
  right: 10px;
  top: 110px;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: contain;
}

.circles {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  color: #FFF;
  flex-wrap: wrap;
}

.circle {
  background: #7E6DBC;
  padding: 15px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.level-title {
  font-size: 48px;
  font-weight: bold;
}

.answer {
  color: white;
}

.true-answer-img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 30px;
  color: #666699;
  font-weight: bold;
}

.result-popup {
  width: 100%;
  background-color: white;
  height: 100vh;
  position: fixed;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.result-container {
  background-color: white;
  background-image: url('../../../assets/images/cry.jpg');
  background-size: 35%;
  background-position: right;
  background-repeat: no-repeat;
  width: 53%;
  opacity: 1;
  height: 600px;
  border-radius: 25px;
  position: absolute;
  display: flex;
  box-shadow: 4px 4px 4px 4px black;
  overflow-y: auto;
}

.mistakes,
.words-know {
  padding: 50px;
  font-size: 38px;
}

.result-answer {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  font-size: 32px;
}

.volume-answer {
  background: url(../../../assets/svg/volume.svg);
  width: 35px;
  height: 35px;
}

.result-title {
  padding-bottom: 30px;
}

.outplay-button,
.on-main-button {
  width: 150px;
  height: 35px;
  margin: 10px;
  border: none;
  border-radius: 25px;
  color: white;
  background: #0c6bdf;
}

.answer-eng,
.result-title {
  color: #5a95dd;
  font-weight: bold;
  text-decoration: underline;
}

.result-container::-webkit-scrollbar {
  width: 10px;
  background-color: #f9f9fd;
  border-radius: 25px;
}

.result-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #5a95dd;
}

.boat {
  min-width: 250px;
  height: 45px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  background: #6655a1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  animation: move 2s ease-in-out;
}

@keyframes move {

  from,
  to {
    top: 0;
    left: 0;
  }

  25%,
  75% {
    top: 100%;
  }

  50% {
    top: 50%;
  }
}

.cabin {
  position: relative;
  top: -35px;
  left: 40px;
  width: 70px;
  height: 35px;
  border-radius: 25%;
  background: #ccbeff;
}

.answer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: none;
  background-color: transparent;
}

.green {
  background-color: green;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.red {
  background-color: red;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  font-weight: bold;
  color: black;
}

.custom-checkbox+label::before {
  content: '';
  cursor: pointer;
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 3px solid #9e3af3;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom-checkbox:checked+label::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
  border-color: #b3d7ff;
}

.custom-checkbox:not(:disabled):active+label::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}

.custom-checkbox:focus+label::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-checkbox:focus:not(:checked)+label::before {
  border-color: #80bdff;
}

.custom-checkbox:disabled+label::before {
  background-color: #e9ecef;
}

.heart {
  width: 30px;
  height: 30px;
  z-index: 1;
  border-radius: 50%;
  background-color: red;
  mask-image: url('../../../assets/svg/heart.svg');
  -webkit-mask-image: url('../../../assets/svg/heart.svg');
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-size: contain;
  mask-repeat: no-repeat;
  cursor: pointer;
}

.hearts-container {
  display: flex;
  row-gap: 50px;
  column-gap: 20px;
}
